.Campo-Texto{
    font-family: 'Montserrat', sans-serif;
    margin: 24px 0;
}
.Campo-Texto label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.Campo-Texto input{
    width:100%;
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
}